/*#420690 for bg and #ddddff for content*/

@font-face {
    font-family: Coda;
    src: url(../fonts/Coda.ttf);
}

body {
    background-color: #420690 !important;
    text-align: center;
    color: white !important;
}

.navbar {
    background: linear-gradient(to right, #6310ce , #8628ff);
}

.navbar .brand a{
    color: white;
}

.navbar .brand a:hover{
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    float: right;
    margin-right: 1em;
}

.nav ul li a {
    font-family: Coda;
    text-decoration: none;
    color: white;
}

.nav-item.active {
    border-bottom: 0.2em solid #4a0d98;
}

.jumbotron {
    background-image: url("https://wallpapercave.com/wp/apxMGMU.jpg");
    background-size: cover;
    max-height: 20em;
}

.header {
    text-align: center;
    color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.beam {
    width: 100%;
    background-color: #1e0040;
    text-align: center;
}

.beam-grow {
    width: 50%;
    display: block;
    transition: width 1s;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    padding: 0.2em;
}

.beam-grow:hover{
    width: 60%;
}

.beam a {
    color: white;
}

.beam a:hover{
    color: #ddddff;
    text-decoration: none;
}

.irc {
    background-color: #6f00b5;
    font-family: 'Coda';
}

.irc h2{
    margin: 0 !important;
}
